In [1]:
cd ..

/Users/johnphillips/Desktop/DSI-Class-Stuff/BaseBall

In [2]:
%matplotlib inline

In [3]:
%run __init__.py

In [4]:
# Start with reading the data sets from the pickles

teams = pd.read_pickle('data/teams.p') # Full Data
teams_num = pd.read_pickle('data/teams_num.p') # Numeric Features
new_reduced = pd.read_pickle('data/new_reduced.p') # Reduced from PCA
salaries = pd.read_pickle('data/salaries.p') # Team Salaries 1985 - 2016
rockies = pd.read_pickle('data/rockies.p') # 2017 Rockies Team Stats

In [5]:
teams.sample(5)

,yearID,teamID,franchID,G,Ghome,W,L,LgWin,WSWin,R,...,BPF,PPF,teamIDBR,teamIDlahman45,teamIDretro,BA,OBP,SLG,OPS,WinP
972,1936,SLA,BAL,155,77.0,57,95,0,0,804,...,102,106,SLB,SLA,SLA,0.278613,0.353557,0.402523,0.756080,0.375000
1936,1985,PIT,PIT,161,80.0,57,104,0,0,568,...,99,100,PIT,PIT,PIT,0.246505,0.311597,0.347130,0.658727,0.354037
275,1891,PHI,PHI,138,0.0,68,69,0,0,756,...,103,102,PHI,PHI,PHI,0.252384,0.318980,0.322378,0.641358,0.496350
927,1934,BOS,BOS,153,77.0,76,76,0,0,820,...,105,105,BOS,BOS,BOS,0.274396,0.348798,0.383031,0.731829,0.500000
39,1875,CH2,CNA,69,0.0,30,37,0,0,379,...,101,102,CHI,CH2,CH2,0.262227,0.268829,0.303988,0.572817,0.447761

### Hypothesis Testing Part 1:

**Hypotheses:**

$H_0$: The mean difference in OPS among winners vs. non-winners is zero.

$H_1$: There is a significant difference in the OPS of the two groups.

In [6]:
from scipy import stats

In [7]:
ttest = stats.ttest_ind

teams_num.describe()

,yearID,G,Ghome,W,L,LgWin,WSWin,R,AB,H,...,DP,FP,attendance,BPF,PPF,BA,OBP,SLG,OPS,WinP
count,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,...,2835.000000,2835.000000,2.835000e+03,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000,2835.000000
mean,1955.681834,150.469841,67.448677,74.814109,74.814109,0.096649,0.041270,682.399295,5146.473369,1346.939330,...,124.556614,0.965447,1.223610e+06,100.197531,100.223280,0.261383,0.322821,0.380983,0.703803,0.498295
std,41.767356,23.134065,27.644362,17.591208,17.331455,0.295531,0.198949,135.224393,747.595825,218.926978,...,52.077753,0.029437,9.894033e+05,4.903349,4.834146,0.017843,0.023054,0.041858,0.061473,0.095128
min,1871.000000,6.000000,0.000000,0.000000,4.000000,0.000000,0.000000,24.000000,211.000000,33.000000,...,0.000000,0.765000,0.000000e+00,60.000000,60.000000,0.156398,0.156398,0.180095,0.336493,0.000000
25%,1920.000000,154.000000,76.000000,66.000000,65.000000,0.000000,0.000000,614.000000,5132.000000,1300.000000,...,113.000000,0.965000,3.792300e+05,97.000000,97.000000,0.250091,0.310930,0.353738,0.668756,0.440969
50%,1964.000000,157.000000,79.000000,77.000000,76.000000,0.000000,0.000000,690.000000,5395.000000,1393.000000,...,141.000000,0.976000,1.012164e+06,100.000000,100.000000,0.260687,0.324404,0.383950,0.709628,0.506024
75%,1993.000000,162.000000,81.000000,87.000000,87.000000,0.000000,0.000000,763.000000,5518.000000,1467.000000,...,157.000000,0.981000,1.924918e+06,103.000000,103.000000,0.271478,0.336582,0.409033,0.743465,0.561728
max,2016.000000,165.000000,84.000000,116.000000,134.000000,1.000000,1.000000,1220.000000,5781.000000,1783.000000,...,217.000000,0.991000,4.483350e+06,129.000000,141.000000,0.348701,0.407835,0.490900,0.889770,0.898734

In [8]:
teams_num.columns

Index([u'yearID', u'G', u'Ghome', u'W', u'L', u'LgWin', u'WSWin', u'R', u'AB',
       u'H', u'2B', u'3B', u'HR', u'BB', u'SO', u'SB', u'CS', u'HBP', u'SF',
       u'RA', u'ER', u'ERA', u'CG', u'SHO', u'SV', u'IPouts', u'HA', u'HRA',
       u'BBA', u'SOA', u'E', u'DP', u'FP', u'attendance', u'BPF', u'PPF',
       u'BA', u'OBP', u'SLG', u'OPS', u'WinP'],
      dtype='object')

In [9]:
# Create masks for Winners & Non Winners.

winner_mask = (teams_num['WSWin'] == 1)
non_winner_mask = (teams_num['WSWin'] == 0)
winner_df = teams_num[winner_mask]
non_winner_df = teams_num[non_winner_mask]

#Print out average OPS of each group, and our measured difference for fun.
print("The average Winner OPS is: ", winner_df.OPS.mean())
print("The average NON Winner OPS is: ", non_winner_df.OPS.mean())
print("Our measured mean OPS difference is: ", ((winner_df.OPS.mean() - non_winner_df.OPS.mean())))

('The average Winner OPS is: ', 0.7407585006892915)
('The average NON Winner OPS is: ', 0.7022123312462668)
('Our measured mean OPS difference is: ', 0.03854616944302469)

In [10]:
# Compare their OPS as Series using the stats.ttest_ind()
stats.ttest_ind(winner_df.OPS, non_winner_df.OPS)

# We have very small pvalue!

Ttest_indResult(statistic=6.692129379096462, pvalue=2.6409215929502404e-11)

### Let's look at more Stats...

In [11]:
# Start with ERA
print("The average Winner ERA is: ", winner_df.ERA.mean())
print("The average NON Winner ERA is: ", non_winner_df.ERA.mean())
print("Our measured mean ERA difference is: ", ((winner_df.ERA.mean() - non_winner_df.ERA.mean())))

('The average Winner ERA is: ', 3.3238461538461537)
('The average NON Winner ERA is: ', 3.8401876379691013)
('Our measured mean ERA difference is: ', -0.5163414841229477)

In [12]:
# Compare their ERA as Series using the stats.ttest_ind()
stats.ttest_ind(winner_df.ERA, non_winner_df.ERA)

# We have even smaller pvalue!

Ttest_indResult(statistic=-7.252520344978592, pvalue=5.254285329521348e-13)

In [13]:
# Look at RA
print("The average Winner RA is: ", winner_df.RA.mean())
print("The average NON Winner RA is: ", non_winner_df.RA.mean())
print("Our measured mean RA difference is: ", ((winner_df.RA.mean() - non_winner_df.RA.mean())))

('The average Winner RA is: ', 603.3247863247864)
('The average NON Winner RA is: ', 685.8031640912436)
('Our measured mean RA difference is: ', -82.47837776645724)

In [14]:
stats.ttest_ind(winner_df.RA, non_winner_df.RA)

# We have another very small pvalue!

Ttest_indResult(statistic=-6.541906573603092, pvalue=7.181060144738197e-11)

In [15]:
# Look at Runs
print("The average Winner R is: ", winner_df.R.mean())
print("The average NON Winner R is: ", non_winner_df.R.mean())
print("Our measured mean R difference is: ", ((winner_df.R.mean() - non_winner_df.R.mean())))
stats.ttest_ind(winner_df.R, non_winner_df.R)

# We have another very small pvalue!

('The average Winner R is: ', 774.8888888888889)
('The average NON Winner R is: ', 678.4179543782193)
('Our measured mean R difference is: ', 96.47093451066962)

Ttest_indResult(statistic=7.6317653112553225, pvalue=3.142719741111642e-14)